@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=MedievalSharp&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}


body,
ul,
li,
p {
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.parallax {
    background-image: url(../content/imagens/fundo-colorido-hd--fundo-hd--plano-de-fundo-psd-moderno-de-alta-qualidade_275100-original.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.cabecalho {
    background-color: #1d1e20;
    box-shadow: 0px 3px 10px #464646;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.menu ul {
    display: flex;
    align-items: center;
    position: relative;
}

.menu li {
    margin-left: 10px;
}

.menu ul li a {
    display: inline-block;
    padding: 20px;
}

.menu a:hover {
    color: #000000;
    background-color: rgb(202, 243, 140);
}

.logo {
    height: 100px;
    width: 300px;

}

/*Dropdown menu */
.menu ul ul {
    display: none;
    position: absolute;
}

.menu ul li:hover ul {
    display: block;
    position: absolute;
}

/*fim DP menu*/

/*Mobile responsive*/

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/*Index - css - inicio*/

.background-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 250px 30px 100px 300px 50px 450px 30px 950px 30px 1000px 30px 700px 30px 120px;
    width: 100%;    
    height: 100%;
}

.tittle-container-I {
    width: 98%;
    height: 100%;
    grid-column: 1/span 3;
    grid-row: 2;
    text-align: center;
}

.tittle-container-I h1 {
    color: rgb(190, 255, 153);
    text-shadow: 0 0 0.125em rgb(221, 255, 201), 0 0 0.25em currentColor;
    font-size: 80px;
    text-align: center;
}

.tittle-container-I h2 {
    color: rgb(190, 255, 153);
    text-shadow: 0 0 0.125em rgb(221, 255, 201), 0 0 0.25em currentColor;
    font-size: 20px;
    text-align: center;
}

.content-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 450px 70px 230px;
    background: rgba(19, 19, 19, 0.85);
    grid-row: 3 /span 5;
    grid-column: 1 /span 3;
    height: 100%;
    width: 100%;
    margin: 0px auto;
}

.img-container-I {
    grid-row: 2;
    grid-column: 2;
    width: 70%;
    margin: 0px auto;
    height: 100%;
}

.img-container-I img{
 height: 100%;
 width: 100%;
 visibility: hidden;
}

.imgref1 {
    grid-column: 2;
    grid-row: 3;
    margin: 0 auto;
    color: #a2f3b3;
    text-shadow: 0 0 0.125em #81fc9b, 0 0 0.25em currentColor;
   
   }

.description-I {
    grid-column: 1;
    grid-row: 2;
    margin-left: 60px;
    visibility: hidden;
}

.description-I h4 {
    color: rgb(219, 219, 219);
    margin-left: 20px;
    font-size: 25px;
}

.description2-I {
    grid-column: 1 /span 3;
    grid-row: 4 ;
    margin-left: 60px;
    width: 90%;
    visibility: hidden;
}

.description2-I h4 {
    color: rgb(219, 219, 219);
    margin-left: 20px;
    font-size: 25px;
}

.content-box-athom {
    display: grid;
    background: #1d1e20;
    grid-column: 1 /span 3;
    grid-row: 9;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 450px 300px 100px;
    width: 100%;
    height: 100%;
}

.text-1-athom {
    grid-column: 1 /span 2;
    grid-row: 2;
    width: 90%;
    height: 100%;
    visibility: hidden;
    margin-right: auto;
    margin-left: 10px;
}

.text-1-athom h4 {
    margin-left: 10px;
    font-size: 35px;
    color: #81fc9b;
}

.text-2-athom {
    grid-column: 1 /span 2;
    grid-row: 3;
    width: 90%;
    height: 100%;
    margin-right:10px;
    visibility: hidden;
    margin-right: auto;
    margin-left: 10px;
}

.text-2-athom h4 {
   margin-left: 10px;
   font-size: 35px;
   color: #81fc9b;
}

.img-athom {
    grid-column: 3;
    grid-row: 2 /span 3;
    width: 100%;
    height: 70%;
    margin: auto;
    margin-right: 40px;
    visibility: hidden;
}

.img-athom img{
 height: 100%;
 width: 100%;
}

.content-box-duvida {
    display: grid;
    background-color: #7aff75;
    grid-column: 1 /span 3;
    grid-row: 11;
    grid-template-columns: 1fr 600px;
    grid-template-rows: 40px 200px 500px 200px 30px;
    width: 100%;
    height: 100%;
}

.video-duvida {
    background-color: aqua;
    grid-column: 1;
    grid-row: 3;
    width: 80%;
    height: 100%;
    margin: 0px auto;
    visibility: hidden;
}

.box-duvidas {
    background-color: aquamarine;
    grid-column: 2;
    grid-row: 2 /span 4;
    width: 86%;
    margin: 0px auto;
    visibility: hidden;
}

.content-box-qmsomos {
    display: grid;
    background-color: #fd90cc;
    grid-column: 1 /span 3;
    grid-row: 13;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 500px 50px 50px;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.box-qmsomos {
    background-color:rgb(202, 243, 140);
    grid-column: 1;
    grid-row: 2 /span 3;
    width: 95%;
    margin: 0px auto;
    visibility: hidden;
}

.box-rdsociais {
    background-color: #a070ec;
    grid-column: 2;
    grid-row: 3;
    width: 95%;
    margin: 0px auto;
    visibility: hidden;
}

.footer-I {
    background-color: #a070ec;
    grid-row:15;
    grid-column: 1 /span 4;
}



/*Index - css - fim*/
/* Tabela - css - início */
.background-Table {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 680px 30px 350px 50px 120px;
    width: 100%;
    height: 100%;
    background-color: rgb(233, 233, 233)
}

.Table-Tb {
    background-color: #464646;
    grid-row: 2;
    height: 100%;
    width: 100%;
}

.Mural-Tb {
    background-color: #464646;
    grid-row: 4;
    height: 100%;
    width: 100%;
}

.footer-Tb {
    background-color: #464646;
    grid-row: 6;
    height: 100%;
    width: 100%;
}

/* Tabela - css - fim */
/* Ligações quimicas - css - inicio */

.background-Lq {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 600px 600px 600px 120px;
    width: 100%;
    height: 100%;
    background-color: rgb(233, 233, 233)
}

.ligacoesmetalicas {
    display: flex;
    justify-content: space-between;
    background-color: #464646;
    grid-row: 1;
    height: 100%;
    width: 100%;
    align-items: center;
}

.textoLM {
    background-color: #e42020;
    grid-row: 1;
    height: 500px;
    width: 900px;
    margin-left: 15px;
    margin-top: 15px;
}

.imagemLM {
    background-color: #20e44a;
    grid-row: 1;
    height: 500px;
    width: 600px;
    margin-right: 15px;
    margin-top: 15px;
}

.ligacoesionicas {
    display: flex;
    justify-content: space-between;
    background-color: #1a1919;
    grid-row: 2;
    height: 100%;
    width: 100%;
    align-items: center;
}

.textoLI {
    background-color: #37e420;
    height: 500px;
    width: 600px;
    margin-left: 15px;
    margin-top: 15px;
}

.imagemLI {
    background-color: #f14814;
    height: 500px;
    width: 900px;
    margin-right: 15px;
    margin-top: 15px;
}

.ligacoescovalentes {
    display: flex;
    justify-content: space-between;
    background-color: #a1a1a1;
    grid-row: 3;
    height: 100%;
    width: 100%;
    align-items: center;
}

.textoCT {
    background-color: #e42020;
    height: 500px;
    width: 900px;
    margin-left: 15px;
    margin-top: 15px;
}

.imagemCT {
    background-color: #20e44a;
    height: 500px;
    width: 600px;
    margin-right: 15px;
    margin-top: 15px;
}

.footer-Lq {
    background-color: #464646;
    grid-row: 4;
    height: 100%;
    width: 100%;
}
/* Ligações quimicas - css - fim */

.background-SBQ {
    display: grid;
    grid-template-columns: 1fr 700px 1fr;
    grid-template-rows: 50px 120px 50px 450px 50px 550px 50px 400px 50px 120px;
    width: 100%;
    height: 100%;
    background-color: rgb(233, 233, 233)
}

.tittle-SBQ {
    width: 98%;
    height:100%;
    grid-column: 1 /span 3;
    grid-row: 2;
    text-align: center;
}

.tittle-SBQ  h1{
    color: rgb(0, 0, 0);
    font-size: 90px;
    text-align: center;
}

.tittle-SBQ  h2{
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
}

.content1 {
    background-color: #000000;
    grid-column: 1 /span 2;
    grid-row: 4;
    margin-left: 10px;

}

.img1-SBQ {
    background-color: #b44343;
    grid-column: 3 /span 4;
    grid-row: 4;
    margin-right: 10px;
    margin: 0px auto;
    width: 90%;
}

.content2 {
    background-color: #000000;
    grid-column: 1 /span 2;
    grid-row: 6;
    margin-left: 10px;

}

.artigos-SBQ {
    background-color: #a070ec;
    grid-column: 3 /span 4;
    grid-row: 6; 
    margin-right: 14px;
    margin: 0px auto;
    width: 90%;
}

.img2-SBQ {
    background-color: #000000;
    grid-column: 1 /span 4;
    grid-row: 8;
    margin-left: 10px; 
}

.footer-SBQ {
    background-color: #464646;
    grid-column: 1 /span 4;
    grid-row: 10;
    height: 100%;
    width: 100%;
}



@media screen and (max-width: 730px) {
    .menu {
        padding: 1.5rem;
    }

    .logo {
        width: 250px;
        height: 80px;
    }

    .menu-itens-mb:hover {
        background-color: rgb(202, 243, 140);
        width: 100%;
        color: #000000;
    }

    .menu li {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }   

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .menu li {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu {
        width: 100%;
    }

    .open {
        display: block;
    }

    /*FIM Mobile responsive*/
}