@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=MedievalSharp&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}


body,
ul,
li,
p {
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    scroll-behavior: smooth;
}

.parallax {
    background-image: url(../content/imagens/nebula-1922570_1920.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.cabecalho {
    background-color: #1d1e20;
    box-shadow: 0px 3px 10px #464646;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.menu ul {
    display: flex;
    align-items: center;
    position: relative;
}

.menu li {
    margin-left: 10px;
}

.menu ul li a {
    display: inline-block;
    padding: 20px;
}

.menu a:hover {
    color: #000000;
    background-color: rgb(202, 243, 140);
}

.logo {
    height: 100px;
    width: 300px;

}

/*Dropdown menu */
.menu ul ul {
    display: none;
    position: absolute;
}

.menu ul li:hover ul {
    display: block;
    position: absolute;
}

/*fim DP menu*/

/*Mobile responsive*/

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/*Index - css - inicio*/

.background-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 250px 30px 400px 100px 50px 450px 30px 1000px 30px 700px 50px 300px 30px;
    width: 100%;    
    height: 100%;
}

.tittle-container-I {
    width: 98%;
    height: 100%;
    grid-column: 1/span 3;
    grid-row: 2;
    text-align: center;
}

.tittle-container-I h1 {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 0.125em rgba(136, 248, 155, 0.37), 0 0 0.25em currentColor;
    font-size: 100px;
    letter-spacing: 10px;
    text-align: center;
}


.content-box {
    display: grid;
    grid-column: 1 /span 3;
    grid-row: 3 /span 5;
    background-color: #121312;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr;
}

.img-container-I {
    grid-row: 2 /span 3;
    grid-column: 2 /span 3;
    width: 70%;
    margin: 0px auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 80%;
}

.img-container-I img{
 height: 100%;
 width: 100%;
 visibility: hidden;
}

.img-container-I .imgref1 {
    color: #a2f3b3;
    text-shadow: 0 0 0.125em #81fc9b, 0 0 0.25em currentColor;
   
   }

.description-I {
    grid-column: 1;
    grid-row:  2 /span 3;
    margin-left: 60px;
    visibility: hidden;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
}

.description-I h4 {
    color: rgb(219, 219, 219);
    margin-left: 20px;
    font-size: 25px;
    margin-top: 40px;
}

.description2-I {
    grid-column: 1 /span 3;
    grid-row: 5 /span 6;
    margin-left: 60px;
    height: 70%;
    width: 90%;
    visibility: hidden;
}

.description2-I h4 {
    color: rgb(219, 219, 219);
    margin-left: 20px;
    font-size: 25px;
}

.content-box-duvida {
    display: grid;
    background-color: #121312;
    grid-column: 1 /span 3;
    grid-row: 9;
    grid-template-columns: 1fr 600px;
    grid-template-rows: 40px 200px 500px 200px 30px;
    width: 100%;
    height: 100%;
}


.video-duvida {
    grid-column: 1;
    grid-row: 2 /span 4;
    width: 95%;
    height: 74%;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    visibility: hidden;
}

.ref1video {
    grid-row: 2;
    grid-column: 1;
    width: 100%;
    color: rgb(219, 219, 219);   
    margin-top: 20px;
    margin-left: 42px;
    margin-top: 60px;
    font-weight: 600;
}

.ref1video a{
    color: #a2f3b3;
    text-shadow: 0 0 0.125em #81fc9b, 0 0 0.25em currentColor;
}

.ref1video a:hover{
    color: #767ef5;
    text-shadow: 0 0 0.125em #7173f3, 0 0 0.25em currentColor;
}

.video-duvida video {
    width: 100%;
    height: 100%;
}

.box-duvidas {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 2 /span 4;
    width: 86%;
    margin: 0px auto;
    visibility: hidden;
    justify-content: center;
}
.box-duvidas details {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.box-duvidas section summary {
   background-color: #74f76f;
   padding: 4%;
   border-bottom: 2px solid #282828;
   font-weight: 600;
   border-radius: 10px;
   margin-top: 10px;
   transition: all 2s;
}

.box-duvidas p {
   color: #000000;
   font-size: 20px;
   padding: 10px;
}


.content-box-qmsomos {
    display: grid;
    background-color: rgb(0, 0, 0, 0.8);
    grid-column: 1 /span 3;
    grid-row: 11;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 500px 50px 50px;
    width: 100%;
    height: 100%;
    visibility: hidden;
    color: rgb(219, 219, 219)
}

.box-qmsomos {
    grid-column: 1;
    grid-row: 3;
    width: 95%;
    margin: auto;
    visibility: hidden;
    color: rgb(255, 255, 255);
    background-color: rgb(95, 197, 95);
    height: 90%;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgb(95, 197, 95);
}

.h1qmsomos {
    display: block;
    grid-column: 1;
    grid-row: 2;
    margin-left: 25px;
    font-size: 48px;
    color: #81fc9b;
    text-shadow: 0 0 0.125em #96ffad, 0 0 0.25em currentColor;
}

.box-qmsomos h4 {
    margin-top: 1%;
    font-size: 28px;
    padding: 4%;
}

.box-rdsociais {
    display: flex;
    flex-wrap: wrap;
    grid-column: 2;
    grid-row: 3;
    width: 95%;
    margin: 0px auto;
    visibility: hidden;
}

.insta {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    width: 50%;
    text-shadow: 0 0 0.125em #282828, 0 0 0.25em currentColor;
    color: #282828;
}

.insta i {
    background-color: #96ffad;
    box-shadow: 0px 3px 10px rgb(95, 197, 95);
    border-radius: 10px;
    font-size: 80px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 1;
}

.insta i:hover {
    transform: scale(1.25, 1.25);
    margin-right: 10px;
}

.insta h3 {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-left: 5px;
    font-size: 60px;
    padding: 4px;
    
}

.face {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    width: 50%;
    text-shadow: 0 0 0.125em #282828, 0 0 0.25em currentColor;
    color: #282828;
}

.face i {
    position: relative;
    background-color: #96ffad;
    box-shadow: 0px 3px 10px rgb(95, 197, 95);
    border-radius: 10px;
    font-size: 80px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 1;
}

.face i:hover {
    transform: scale(1.25, 1.25);
    margin-right: 10px;
}

.face h3 {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-left: 5px;
    font-size: 60px;
    padding: 4px;
    
}

.twitter {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    width: 50%;
    text-shadow: 0 0 0.125em #282828, 0 0 0.25em currentColor;
    color: #282828;
}

.twitter i {
    position: relative;
    background-color: #96ffad;
    box-shadow: 0px 3px 10px rgb(95, 197, 95);
    border-radius: 10px;
    font-size: 80px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 1;
}

.twitter i:hover {
    transform: scale(1.25, 1.25);
    margin-right: 10px;
}

.twitter h3 {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-left: 5px;
    font-size: 60px;
    padding: 4px;
    
}

.youtube {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    width: 50%;
    text-shadow: 0 0 0.125em #282828, 0 0 0.25em currentColor;
    color: #282828;
}

.youtube i {
    position: relative;
    background-color: #96ffad;
    box-shadow: 0px 3px 10px rgb(95, 197, 95);
    border-radius: 10px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    font-size: 80px;
    z-index: 1;
}

.youtube i:hover {
    transform: scale(1.25, 1.25);
    margin-right: 10px;
}

.youtube h3 {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-left: 5px;
    font-size: 60px;
    padding: 4px;
    
}

.footer-box {
    grid-column: 1 /span 4;
    grid-row: 12 /span 13;
    background-color: #121312;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 400px 600px 100px 500px 100px;
    grid-template-rows: 50px 230px 20px;
}

.footer-box-content {
   grid-column: 1 /span 6;
   grid-row: 2;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.logo {
    background-color: #1c1f20;
    border-radius: 20px;
    width: 250px;
    height: 100%;
    margin-left: 0.7rem;
}

.logo img {
 width: 100%;
 height: 100%;
}

.coluna2 {
    width: 100%;
}

.btn-links {
    width: 500px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.btn-links a {
    display: flex;
    background-color: rgb(123, 247, 123);
   text-decoration: none;
   width: 230px;
   height: 50px;
   font-size: 20px; 
   color: rgb(0, 0, 0);
   text-align: center;
   border-radius: 10px;
   box-shadow: 0px 3px 10px rgb(123, 247, 123);
   font-weight: 600;
   transition: all 0.9s;
   align-items: center;
   justify-content: center;
}

.btn-links a:hover {
   background-color: rgb(213, 252, 213);
}

.botaodevoltar {
    display: flex;
    width: 200px;
    height: 100%;
    margin-right:0.2rem;
    text-align: center;
    align-items:end;
    justify-content: center;
}

.botaodevoltar i {
    font-size: 100px;
    color: rgb(123, 247, 123); 
    transition: all 1s;
}

.botaodevoltar i:hover {
    color: rgb(212, 255, 212);
    margin-bottom: 20px;
    cursor: pointer;
}

.direitos-box {
    background-color: #0c0c0c;
    width: 100%;
    height: 30px;
    grid-row: 14;
    grid-column: 1 /span 4;
    text-align: center;
    
}

.direitos-box h3 {
    color: rgb(252, 252, 252);
    padding: 5px;
    
}

/*Index - css - fim*/
/* Tabela - css - início */
.background-Table {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 680px 30px 350px 50px 120px;
    width: 100%;
    height: 100%;
    background-color: rgb(233, 233, 233)
}

.Table-Tb {
    background-color: #464646;
    grid-row: 2;
    height: 100%;
    width: 100%;
}

.Mural-Tb {
    background-color: #464646;
    grid-row: 4;
    height: 100%;
    width: 100%;
}

.footer-Tb {
    background-color: #464646;
    grid-row: 6;
    height: 100%;
    width: 100%;
}

/* Tabela - css - fim */
/* Ligações quimicas - css - inicio */
/* Ligações quimicas - css - fim */

.background-SBQ {
    display: grid;
    grid-template-columns: 1fr 700px 1fr;
    grid-template-rows: 50px 120px 50px 450px 50px 550px 50px 400px 50px 120px;
    width: 100%;
    height: 100%;
    background-color: rgb(233, 233, 233)
}

.tittle-SBQ {
    width: 98%;
    height:100%;
    grid-column: 1 /span 3;
    grid-row: 2;
    text-align: center;
}

.tittle-SBQ  h1{
    color: rgb(0, 0, 0);
    font-size: 90px;
    text-align: center;
}

.tittle-SBQ  h2{
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
}

.content1 {
    background-color: #000000;
    grid-column: 1 /span 2;
    grid-row: 4;
    margin-left: 10px;

}

.img1-SBQ {
    background-color: #b44343;
    grid-column: 3 /span 4;
    grid-row: 4;
    margin-right: 10px;
    margin: 0px auto;
    width: 90%;
}

.content2 {
    background-color: #000000;
    grid-column: 1 /span 2;
    grid-row: 6;
    margin-left: 10px;

}

.artigos-SBQ {
    background-color: #a070ec;
    grid-column: 3 /span 4;
    grid-row: 6; 
    margin-right: 14px;
    margin: 0px auto;
    width: 90%;
}

.img2-SBQ {
    background-color: #000000;
    grid-column: 1 /span 4;
    grid-row: 8;
    margin-left: 10px; 
}

.footer-SBQ {
    background-color: #464646;
    grid-column: 1 /span 4;
    grid-row: 10;
    height: 100%;
    width: 100%;
}



@media screen and (max-width: 730px) {
    .menu {
        padding: 1.5rem;
    }

    .logo {
        width: 250px;
        height: 80px;
    }

    .menu-itens-mb:hover {
        background-color: rgb(202, 243, 140);
        width: 100%;
        color: #000000;
    }

    .menu li {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }   

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .menu li {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu {
        width: 100%;
    }

    .open {
        display: block;
    }

    /*FIM Mobile responsive*/
}