@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=MedievalSharp&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


:root {
    --preto-fosco: #1d1e20;
    --preto-forte: #000000;
    --preto-claro: #141414;
    --verde-limo: rgb(202, 243, 140);
    --verde-gosma: rgb(150, 255, 150);
    --branco: #ffff;
    --azul:  rgb(93, 158, 255);
    --font: 'Quicksand', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}


body,
ul,
li,
p {
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    scroll-behavior: smooth;
}

body {
    overflow: overlay;
    background-color: var(--branco);
    height: auto;
    position: relative;
    background-image: url('../imagens/nebula-1922570_1920.png');
}

.cabecalho {
    background-color: var(--preto-fosco);
    box-shadow: 0px 3px 10px #464646;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    position: sticky;
    width: 100%;
    height: auto;
    top: 0;
    z-index: 9999;
}

.menu ul {
    display: flex;
    align-items: center;
    position: relative;
}

.menu li {
    margin-left: 10px;
}

.menu ul li a {
    display: inline-block;
    padding: 20px;
    color: var(--branco);
    text-decoration: none;
}

.menu a:hover {
    color: var(--preto-forte);
    background-color: rgb(202, 243, 140);
}

.logo {
    height: 100px;
    width: 300px;

}

/*Dropdown menu */
.menu ul ul {
    display: none;
    position: absolute;
}

.menu ul li:hover ul {
    display: block;
    position: absolute;
}

/*fim DP menu*/

/*Mobile responsive*/

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/*Index - css - inicio*/

.c-item {
    height: 88vh;
  }
  
  .c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
  }

  .btn {
    color: var(--branco);
  }

  #A-tabela {
    color: var(--branco);
    text-decoration: none;
  }

#main-perguntas {
    width: 100%;
    height: auto;
    background-image: linear-gradient(to bottom, #ffff, rgb(146, 238, 161));
    box-shadow: 0px 10px 10px #ffffff;
    display: flex;
    justify-content: space-around;
}

.box-video {
    max-width: 80vh;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin: 28vh auto 0;
}

.box-video a {
    color: var(--azul);
    text-decoration: none;
}

.box-video a:hover {
    color: var(--preto-fosco);
    text-decoration:underline;
}

.video {
    width: 100%;
    height: 60%;
    margin-top: 5vh;
    
}

.video iframe {
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

.perguntasFreq-section {
 margin-inline: auto;
 max-width: 70vh;
 width: 100%;
 display: flex;
 flex-direction: column;
 gap: 10px;
 padding-bottom: 10px;
 margin-right: 10vh;
}

.perguntasFreq-section h1 {
    text-align: center;
    font-size: 8vh;
}

.h1-peg {
    margin: 4vh auto 5vh;
}

.pergEresp-caixa {
    background-color: rgb(39, 39, 39);
    border-radius: 8px;
    padding: 10px 20px;
    cursor:default;
    color: var(--branco);
    transition: 0.5s ease-in-out;
}

.pergEresp-caixa.active .respostas-box {
    display: block;
}

.pergEresp-caixa.active {
    background-color: rgb(66, 66, 66);
}

.pergEresp-caixa:hover {
    background-color: rgb(66, 66, 66);
}

.pergEresp-caixa:active {
    opacity: 0.8;
}

.pergEresp-caixa > div {
    display: flex;
    justify-content: space-between;
}

#btn-abrir-pr {
    background-color: transparent;
    border: none;
    height: 50px;
    width: 50px;
}

#btn-abrir-pr:active {
    opacity: 0.8;
}

.bx {
    font-size: 45px;
    padding: auto;
    color: rgb(168, 252, 168);
    cursor: pointer;
}

.pergEresp-caixa .respostas-box {
    display: none;
}

.perguntas-box h2{
    font-size: 23px;
}

.about-background {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.8);
}

.container-qmsomos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 5vh;
}

#h2-qmsomos {
    color: var(--branco);
    padding-left: 7vh;
    font-size: 10vh;
    padding-top: 20vh;
}

.box-qmsomos {
    background-color: rgba(0, 0, 0, 0.5);
    height: 60vh;
    width: 75vh;
    margin-left: 7vh;
    border-radius: 10px;
}

.box-qmsomos p {
    font-size: 4vh;
    padding: 1.5vh;
    color:  var(--branco);
    font-family: var(--font);
}

.box-fotos {
    width: 90vh;
    height: 60vh;
    margin-right: 7vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    align-items: center;
}

.integrante {
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    border: 2px solid white;
}

.gab {
    grid-column: 1;
    grid-row: 1;
}

.gab img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.desc-h3 {
    width: 25vh;
    height: 4vh;
    background-color: #000000;
    position: absolute;
    color: var(--branco);
    text-align: center;
    align-items: center;
    padding: 2px;
    border-radius: 5px;
    margin-top: -50px;
    z-index: 1;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.gab:hover .desc-h3 {
    margin-top: 2px;
    z-index: 1;
    opacity: 1;
}

.joao {
    grid-column: 2;
    grid-row: 1;
}

.joao img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.joao:hover .desc-h3 {
    margin-top: 2px;
    z-index: 1;
    opacity: 1;
}

.ester {
    grid-column: 1;
    grid-row: 2;    
}

.ester img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.ester:hover .desc-h3 {
    margin-top: 2px;
    z-index: 1;
    opacity: 1;
}

.mat {
    grid-column: 2;
    grid-row: 2;
}

.mat img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.mat:hover .desc-h3 {
    margin-top: 2px;
    z-index: 1;
    opacity: 1;
}

.footer {
    padding: 40px 0;
    background-color: var(--preto-fosco);
    position: relative;
    bottom: 0;
}

.footer .social {
    text-align: center;
    padding: 25px;
    color: rgb(255, 255, 255);
}

.footer .social a {
    font-size: 24px;
    color: var(--verde-gosma);
    border: 1px solid var(--branco);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover {
    opacity: 1;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
    position: relative;
}

.footer ul li a {
    color: var(--verde-gosma);
    text-decoration: none;
    opacity: 0.8;
    font-weight: 900;
    font-size: 20px;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li {
    color: inherit;
    text-decoration: none;
    opacity: 1;
}

.footer ul li a:hover {
    opacity: 1;

}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: var(--branco);
}


.btnVoltar {
    display: flex;
    width: 4vh;
    height: auto;
    margin-right:0;
    text-align: center;
    align-items:end;
    justify-content: center;
    margin-left: 180vh;
}

#botaodevoltar i {
    font-size: 70px;
    color: rgb(123, 247, 123); 
    transition: all 1s;
}

#botaodevoltar i:hover {
    color: rgb(212, 255, 212);
    cursor: pointer;
}



@media screen and (max-width: 830px) {
    .menu {
        padding: 1.5rem;
    }

    .logo {
        width: 250px;
        height: 80px;
    }

    .menu-itens-mb:hover {
        background-color: var(--verde-limo);
        width: 100%;
        color: var(--preto-forte);
    }

    .menu li {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }   

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .menu li {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu {
        width: 100%;
        z-index: 99999;
        position: absolute;
        background-color: var(--preto-fosco);
        margin: 35vh 0 0 -1.1vh;
    }
    
    .mobile-menu ul li a {
        color: var(--branco);
        text-decoration: none;
    }

    .mobile-menu ul li a:hover {
        color: var(--preto-forte);
    }

    .open {
        display: block;
    }

}

    /*FIM Mobile responsive*/