@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

:root {
    --cor-Nmetal: rgba(91, 224, 91, 0.986);
    --cor-Nmetalblack: rgba(73, 189, 73, 0.986);
    --cor-Malca: rgb(230, 162, 37);
    --cor-Malcablack: rgb(204, 143, 30);;
    --cor-MalcaTe: rgb(226, 226, 76);
    --cor-MalcaTeblack: rgb(190, 190, 47);
    --cor-Mtran: rgb(235, 113, 134);
    --cor-Mtranblack: rgb(207, 97, 116);
    --cor-Gnbr: rgb(56, 78, 172);
    --cor-Gnbrblack: rgb(43, 61, 139);
    --cor-Ometais: rgb(124, 139, 145);
    --cor-Ometaisblack: rgb(101, 108, 110);
    --cor-SMetais: rgb(19, 177, 124);
    --cor-Smetaisblack: rgb(18, 133, 94);
    --cor-Hlgn: rgb(65, 151, 221);
    --cor-Hlgnblack: rgb(43, 116, 175);
    --cor-Ltnds: rgb(83, 226, 226);
    --cor-Ltndsblack: rgb(54, 163, 163);
    --cor-Actns: rgb(167, 86, 187);
    --cor-Actnsblack: rgb(122, 61, 138);
}


body,
ul,
li,
p {
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.cabecalho {
    background-color: #1d1e20;
    box-shadow: 0px 3px 10px #464646;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.menu ul {
    display: flex;
    align-items: center;
    position: relative;
}

.menu li {
    margin-left: 10px;
}

.menu ul li a {
    display: inline-block;
    padding: 20px;
    font-size: 2.3vh;
}

.menu a:hover {
    color: #000000;
    background-color: rgb(202, 243, 140);
}

.logo {
    height: 100px;
    width: 300px;

}

/*Dropdown menu */
.menu ul ul {
    display: none;
    position: absolute;
}

.menu ul li:hover ul {
    display: block;
    position: absolute;
}

/*fim DP menu*/

/*Mobile responsive*/

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}


.background-Table {
   width: 1700px;
   height: auto;
   background-color: rgb(235, 234, 234);
   margin: 8vh auto 0;
   display: flex;
   flex-direction: column;
   grid-gap: 5px;
}

/*presets*/
#nmAtomico {
    padding: 4px;
    font-size: 15px;
}

#nomeElmnt {
    text-align: center;
    font-size: 35px;
}

#massaAtm {
    text-align: center;
    font-size: 15px;
}
/*preset*/

.displayELMNT-container {
 grid-column: 3 /span 10;
 grid-row: 1 /span 3;
 background-color: #8b8b8b;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 position: relative;
}

.nome-box {
    width: 100%;
    height: 18%;
   background-color: #1d1e20;
}

.nome-box h1{
    color: rgb(228, 228, 228);
    margin-left: 10px;
}

.container-propriedades {
    height: 82%;
    width: 100%;
    display: flex;
}

.box-propri {
    width: 60%;
    height: 100%;
    background-color: #8b8b8b;
}

.box-propri table {
    width: 100%;
    height: 100%;
    background-color: #525252;
}

.box-propri tr, td { 
    background-color: #e7e7e7;
}

#C1 {
    width: 35%;
}

#C2 {
    width: 100%;
}

.container-descricao {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9c9c9c;;
    position: relative;
}

.container-descricao p {
    font-size: 22px;
    padding: 5px;
}

#H {
    position: absolute;
    background-color: rgb(87, 87, 87);
    width: 100%;
    height: 100%;
}

.cores-container {
    grid-column: 1 /span 3;
    grid-row: 8 /span 9;
    background-color: rgb(253, 247, 240);
}

.cores-container ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.cores-container ul li {
    display: flex;
    padding: 4px;
    font-size: 20px;
}

.NM-cores {
    height: 22px;
    width: 30px;
    background-color: var(--cor-Nmetal);
    margin-right: 10px;
}

.GS-cores {
    height: 22px;
    width: 30px;
    background-color: var(--cor-Gnbr);
    margin-right: 10px;
}

.MA-cores {
    height: 22px;
    width: 30px;
    background-color: var(--cor-Malca);
    margin-right: 10px;
}

.MAT-cores {
    height: 22px;
    width: 30px;
    background-color: var(--cor-MalcaTe);
    margin-right: 10px;
}

.SM-cores {
    height: 22px;
    width: 30px;
    background-color: var(--cor-SMetais);
    margin-right: 10px;
}

.HL-cores {
    height: 22px;
    width: 30px;
    background-color: var(--cor-Hlgn);
    margin-right: 10px;
}

.HL-cores {
    height: 22px;
    width: 30px;
    background-color: var(--cor-Hlgn);
    margin-right: 10px;
}

.OM-cores {
    height: 22px;
    width: 30px;
    background-color: var(--cor-Ometais);
    margin-right: 10px;
}

.OM-cores {
    height: 22px;
    width: 30px;
    background-color: var(--cor-Ometais);
    margin-right: 10px;
}

.MT-cores {
    height: 22px;
    width: 30px;
    background-color: var(--cor-Mtran);
    margin-right: 10px;
}

.LT-cores {
    height: 22px;
    width: 30px;
    background-color: var(--cor-Ltnds);
    margin-right: 10px;
}

.AC-cores {
    height: 22px;
    width: 30px;
    background-color: var(--cor-Actns);
    margin-right: 10px;
}

